{% extends "layout.twig" %}
{% block content %}
    <h1>Dashboard</h1>
    <ul>
        <li><a href="user/create">Add User</a></li>
        <li><a href="jobs/add">Add job</a></li>
    </ul>
    <br><br>
    <a href="logout">LogOut</a>
{% endblock %}